<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>题库管理员登录界面</title>

    <!-- Bootstrap -->
    <link href="../../Public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../Public/css/examAdmin.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<!--背景图片开始-->
		<div>
			<image src="../../Public/images/header6.jpg" width="100%" height="140px">
		</div>
		<!--背景图片结束-->
	<!--顶栏开始-->
		<div class="Head bg-primary">
			用户编号:<span>001</span>&nbsp;&nbsp;用户权限:<span>题库管理员</span><span class="exit"><span><a href="#" style="color:white">注销</a></span>&nbsp;<span><a href="#" style="color:white">退出</a></span></span>
		</div>
		<!--顶栏结束-->
	<!--主体内容开始-->
		<div class="main">
			<!--左右栏框分布源码开始-->
				<!--左栏框开始-->
					<span class="main-left" id="div_left">
						<!--左栏内容开始-->
							<div class="left-style text"><a href="#" onclick="hiddenOp('userInfo')">用户信息</a></div>
							<div class="left-style text" ><a href="javascript:void(0)" onclick="hiddenOp('testManage')">试题管理</a></div>
								<ul style="display:none;" id="ul-1">
								<li><a href="javascript:void(0)" onclick="test_hiddenOp('Chinese_test')">语文</a></li>
								<li><a href="javascript:void(0)" onclick="test_hiddenOp('English_test')">英语</a></li>
								<li><a href="javascript:void(0)" onclick="test_hiddenOp('Math_test')">数学</a></li>
								</ul>
							<div class="left-style text"><a href="#" id="b01" onclick="hiddenOp('updatePwd')">修改密码</a></div>
							<!--左栏内容结束-->
					</span>
					<!--左栏框结束-->
				<!--右栏框开始-->
					<span class="main-right" id="main_content_right" id="div_right">
						<!--右栏内容边框开始-->
							<!--用户信息开始-->
								<div class="right-style" id="userInfo">
									<h2 style="text-align:center;">用户信息</h2><hr style="border:solid 1px #666666">
									<div class="right-info-style"><span>编号：<input type="text" id="txtNum" readonly="readonly" value="007" style="border:none;"></span></div>
									<div class="right-info-style"><span>姓名：<input type="text" id="txtName" readonly="readonly" value="张三" style="border:none;"></span></div>
									<div class="right-info-style"><span>性别：<input type="text" id="txtGender" readonly="readonly" value="男" style="border:none;"></span></div>
									<div class="right-info-style"><span>联系电话：<input type="text" id="txtTel" readonly="readonly" value="13876543210" style="border:none;"></span></div>
									<div class="right-info-style"><span>常用邮箱：<input type="text" id="txtEmail" readonly="readonly" value="1091313628@qq.com" style="border:none;"></span></div>
									<div class="right-info-style"><span>最近登录IP：<input type="text" id="txtIP" readonly="readonly" value="192.1.3.4" style="border:none;"></span></div>
									<div class="right-info-style"><span>最近登录时间：<input type="text" id="txtTime" readonly="readonly" value="2016/5/5 22:22:22" style="border:none;"></span></div>
									<div style="text-align:center;margin-top:6%;"><input type="button" style="width:20%;" value="修改" onclick="update()"><input type="button" style="width:20%;" value="取消" onclick="updateCancel()"></div>
								</div>
								<!--用户信息结束-->
							<!--试题管理开始-->
								<div class="right-style" id="testManage" style="display:none;">
									<!--语文试题开始-->
										<div id="Chinese_test">
											<h2 style="text-align:center;" id="txtManage">语文试题管理</h2><hr style="border:solid 1px #666666">
											<div>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
											</div>
											<div style="width:100%;height:40%;">
												<div style="width:100%;">
													<button class="btn btn-primary testManage-addTestBtn" type="button" id="Chinesetest_addBtn">
												  添加试题</button>
												</div>
													<div class="well testManage-addTestPane"		id="Chinesetest_addPane">
														<div>
															<input type="text" style="width:100%;height:100%;padding-bottom:15%;" value="添加试题内容" >
														</div>
														<div style="text-align:center;">
															<input type="button" style="width:20%;" id="Chinesetest_addConfirm" value="确认">
															<input type="button" style="width:20%;" id="Chinesetest_addCancel" value="取消">
														</div>
													</div>
											</div>
										</div>
										<!--语文试题结束-->

										<!--英语试题开始-->
										<div id="English_test" style="display:none;">
											<h2 style="text-align:center;" id="txtManage">英语试题管理</h2><hr style="border:solid 1px #666666">
											<div>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
											</div>
											<div style="width:100%;height:40%;">
												<div style="width:100%;">
													<button class="btn btn-primary testManage-addTestBtn" type="button" id="Englishtest_addBtn">
												  添加试题</button>
												</div>
													<div class="well testManage-addTestPane"		id="Englishtest_addPane">
														<div>
															<input type="text" style="width:100%;height:100%;padding-bottom:15%;" value="添加试题内容" >
														</div>
														<div style="text-align:center;">
															<input type="button" style="width:20%;" id="Englishtest_addConfirm" value="确认">
															<input type="button" style="width:20%;" id="Englishtest_addCancel" value="取消">
														</div>
													</div>
											</div>
										</div>
										<!--英语试题结束-->

										<!--数学试题开始-->
										<div id="Math_test" style="display:none;">
											<h2 style="text-align:center;" id="txtManage">数学试题管理</h2><hr style="border:solid 1px #666666">
											<div>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
												<div><span>一道道试题啊试题啊</span><input class="testManage-test-style" type="button" value="删除"/><input class="testManage-test-style" type="button" value="修改"/></div><br>
											</div>
											<div style="width:100%;height:40%;">
												<div style="width:100%;">
													<button class="btn btn-primary testManage-addTestBtn" type="button" id="Mathtest_addBtn">
												  添加试题</button>
												</div>
													<div class="well testManage-addTestPane"		id="Mathtest_addPane">
														<div>
															<input type="text" style="width:100%;height:100%;padding-bottom:15%;" value="添加试题内容" >
														</div>
														<div style="text-align:center;">
															<input type="button" style="width:20%;" id="Mathtest_addConfirm" value="确认">
															<input type="button" style="width:20%;" id="Mathtest_addCancel" value="取消">
														</div>
													</div>
											</div>
										</div>
										<!--数学试题结束-->
								</div>
								<!--试题管理结束-->
							<!--修改密码开始-->
								<div class="right-style" id="updatePwd" style="display:none;">
										<h2 style="text-align:center;">修改密码</h2><hr style="border:solid 1px #666666">
										
										<div style="height:60%;padding-top:5%;">
											<div class="right-pwd-style">旧密码：<input class="right-pwd-txtStyle pwd" type="text"></div>
											<div class="right-pwd-style">新密码：<input class="right-pwd-txtStyle pwd" type="text"></div>
											<div class="right-pwd-style">确认密码：<input class="right-pwd-txtStyle pwd" type="text"></div>
											<div class="right-pwd-style"><input type="button" style="width:20%;" value="修改">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" style="width:20%;" value="重置"></div>
										</div>
										
								</div>
								<!--修改密码结束-->
							<!--右栏内容边框结束-->
					</span>
					<!--右栏框结束-->
				<!--左右栏框分布源码结束-->
			</div>
		<!--主体内容结束-->
	<!--底栏开始-->
		<div style="text-align:center;float:none;margin:10px;">@官方声明</div>
		<!--底栏结束-->
		<script type="text/javascript" src="../../Public/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../../Public/js/examAdmin.js"></script>
		<script src="../../Public/js/bootstrap.min.js"></script>
  </body>
</html>